/* line 8, ../_sass/_highlight.scss */
.highlight .k, .highlight .gs, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .ow {
  font-weight: bold;
}
/* line 11, ../_sass/_highlight.scss */
.highlight .cp {
  color: #999;
  font-weight: bold;
}
/* line 15, ../_sass/_highlight.scss */
.highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* line 19, ../_sass/_highlight.scss */
.highlight .kt, .highlight .nc {
  color: #458;
  font-weight: bold;
}
/* line 23, ../_sass/_highlight.scss */
.highlight .ne, .highlight .nf {
  color: #900;
  font-weight: bold;
}
/* line 27, ../_sass/_highlight.scss */
.highlight .ge {
  font-style: italic;
}
/* line 30, ../_sass/_highlight.scss */
.highlight .c, .highlight .cm, .highlight .c1 {
  color: #998;
  font-style: italic;
}
/* line 34, ../_sass/_highlight.scss */
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
/* line 39, ../_sass/_highlight.scss */
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
/* line 43, ../_sass/_highlight.scss */
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
/* line 47, ../_sass/_highlight.scss */
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
/* line 51, ../_sass/_highlight.scss */
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
/* line 55, ../_sass/_highlight.scss */
.highlight .gc {
  color: #999;
  background-color: #eaf2f5;
}
/* line 59, ../_sass/_highlight.scss */
.highlight .go {
  color: #888;
}
/* line 62, ../_sass/_highlight.scss */
.highlight .n {
  color: #333;
}
/* line 65, ../_sass/_highlight.scss */
.highlight .w {
  color: #bbb;
}
/* line 68, ../_sass/_highlight.scss */
.highlight .gr, .highlight .gt {
  color: #a00;
}
/* line 71, ../_sass/_highlight.scss */
.highlight .gh, .highlight .bp {
  color: #999;
}
/* line 74, ../_sass/_highlight.scss */
.highlight .gp, .highlight .nn {
  color: #555;
}
/* line 77, ../_sass/_highlight.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #099;
}
/* line 80, ../_sass/_highlight.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #d14;
}
/* line 83, ../_sass/_highlight.scss */
.highlight .na, .highlight .no, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080;
}
/* line 86, ../_sass/_highlight.scss */
.highlight .ni {
  color: #800080;
}
/* line 89, ../_sass/_highlight.scss */
.highlight .nb {
  color: #0086b3;
}
/* line 92, ../_sass/_highlight.scss */
.highlight .nt {
  color: #000080;
}
/* line 95, ../_sass/_highlight.scss */
.highlight .sr {
  color: #009926;
}
/* line 98, ../_sass/_highlight.scss */
.highlight .ss {
  color: #990073;
}

/* line 3, ../_sass/base/_reset.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 8, ../_sass/base/_reset.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 13, ../_sass/base/_reset.scss */
body {
  color: #333333;
  font: 16px/1.75 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 18, ../_sass/base/_reset.scss */
a {
  color: #4183c4;
  text-decoration: none;
}
/* line 22, ../_sass/base/_reset.scss */
a:hover, a:focus {
  color: #2c5d8d;
  text-decoration: underline;
}

/* line 28, ../_sass/base/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 33, ../_sass/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 38, ../_sass/base/_reset.scss */
button, input, select, textarea {
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 41, ../_sass/base/_reset.scss */
button, input {
  line-height: 1;
}

/* line 48, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
::-webkit-input-placeholder {
  color: #999999;
}

/* line 51, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
:-moz-placeholder {
  color: #999999;
}

/* line 54, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
:-ms-input-placeholder {
  color: #999999;
}

/* line 48, ../_sass/base/_reset.scss */
code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

/* line 52, ../_sass/base/_reset.scss */
em {
  font-style: normal;
}

/* line 56, ../_sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 60, ../_sass/base/_reset.scss */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 66, ../_sass/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 69, ../_sass/base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 73, ../_sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 76, ../_sass/base/_reset.scss */
th {
  text-align: inherit;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "typewriter";
  src: url('/fonts/typewriter/typewriter.woff') format('woff'), url('/fonts/typewriter/typewriter.ttf') format('truetype');
}

@font-face {
  font-family: "consola";
  src: url('/fonts/consola/consola.woff') format('woff'), url('/fonts/consola/consola.ttf') format('truetype');
}

/* line 26, ../_sass/main.scss */
html {
  height: 100%;
  overflow: auto;
}

/* line 31, ../_sass/main.scss */
body {
  min-width: 780px;
  padding-top: 42px;
}

/* line 38, ../_sass/main.scss */
a:hover, a:focus {
  text-decoration: none;
}
/* line 40, ../_sass/main.scss */
a:hover > code, a:focus > code {
  color: inherit;
}

/* line 46, ../_sass/main.scss */
pre {
  margin: 8px 1px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
}

/* line 54, ../_sass/main.scss */
code {
  font-family: consola, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 3px;
  padding: 2px 4px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  color: #c7254e;
  white-space: nowrap;
}
/* line 68, ../_sass/main.scss */
h2 code, h3 code, h4 code, pre code {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-size: inherit;
  white-space: pre;
}

/* line 79, ../_sass/main.scss */
blockquote {
  padding: 0 15px;
  border-left: 4px solid #ddd;
  color: #777;
}

/* line 85, ../_sass/main.scss */
.home-title {
  font-family: typewriter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
}
/* line 16, ../_sass/main.scss */
.home-title a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 20, ../_sass/main.scss */
.home-title a:hover {
  color: #4183c4;
}

/* line 90, ../_sass/main.scss */
.home-gap {
  padding-top: 16px;
}

/* line 94, ../_sass/main.scss */
.read-more {
  text-align: right;
}

/* line 98, ../_sass/main.scss */
.entry-title {
  font-family: typewriter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 16, ../_sass/main.scss */
.entry-title a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 20, ../_sass/main.scss */
.entry-title a:hover {
  color: #4183c4;
}

/* line 102, ../_sass/main.scss */
.entry-meta {
  padding-top: 5px;
  color: #999999;
  font-size: 14px;
}

/* line 108, ../_sass/main.scss */
.entry-content {
  font-size: 16px;
}
/* line 110, ../_sass/main.scss */
.entry-content p:first-child::first-letter {
  font-size: 24px;
}

/* Layout */
/* line 116, ../_sass/main.scss */
.main-wrap, .grey-long-straight ul {
  width: 780px;
  margin: 0 auto;
}

/* line 121, ../_sass/main.scss */
.main-wrap {
  background-color: rgba(254, 254, 254, 0.93);
}

/* line 125, ../_sass/main.scss */
.footer {
  padding: 40px 0 20px;
  text-align: center;
  text-shadow: #ddd;
}

/* Archives */
/* line 132, ../_sass/main.scss */
.archives {
  position: relative;
  padding: 15px 0 0 100px;
}
/* line 136, ../_sass/main.scss */
.archives dt {
  position: absolute;
  left: 0;
  padding-top: 6px;
  color: #aaa;
  font-family: "PT Serif", Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 31px;
}
/* line 144, ../_sass/main.scss */
.archives dd {
  padding: 10px 0 15px;
  border-bottom: 1px dashed #ddd;
}
/* line 147, ../_sass/main.scss */
.archives dd:last-of-type {
  border-bottom: 0;
}

/* line 153, ../_sass/main.scss */
.archive-title {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ddd;
  color: #333333;
  font: bold 36px "PT Serif", Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* line 161, ../_sass/main.scss */
.archive-post-title {
  font-family: typewriter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
/* line 16, ../_sass/main.scss */
.archive-post-title a {
  color: #333333;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
/* line 20, ../_sass/main.scss */
.archive-post-title a:hover {
  color: #4183c4;
}

/* line 165, ../_sass/main.scss */
article {
  *zoom: 1;
  padding: 1em 0;
  border-bottom: 1px dashed #ddd;
  text-align: left;
}
/* line 6, ../_sass/base/_mixins.scss */
article:before, article:after {
  content: ' ';
  display: table;
}
/* line 11, ../_sass/base/_mixins.scss */
article:after {
  clear: both;
}
/* line 172, ../_sass/main.scss */
article h2 {
  font-size: 24px;
}
/* line 172, ../_sass/main.scss */
article h3 {
  font-size: 20px;
}
/* line 172, ../_sass/main.scss */
article h4 {
  font-size: 16px;
}
/* line 177, ../_sass/main.scss */
article h2 {
  padding-top: 14px;
}
/* line 182, ../_sass/main.scss */
article h2, article h3, article h4,
article ol, article ul, article p, article pre, article blockquote {
  margin-bottom: 14px;
}
/* line 186, ../_sass/main.scss */
article ol, article ul {
  margin-left: 25px;
}
/* line 189, ../_sass/main.scss */
article ol ol, article ol ul, article ul ol, article ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 194, ../_sass/main.scss */
article ol ul, article ul ul {
  list-style: circle;
}
/* line 199, ../_sass/main.scss */
article ol {
  list-style: decimal;
}
/* line 202, ../_sass/main.scss */
article ul {
  list-style: disc;
}
/* line 206, ../_sass/main.scss */
article img {
  max-width: 100%;
}
/* line 210, ../_sass/main.scss */
article p > iframe {
  margin-bottom: 1px;
  vertical-align: middle;
}
/* line 215, ../_sass/main.scss */
article .neighbor {
  padding-top: 2em;
}

/* line 220, ../_sass/main.scss */
.meta {
  font-size: 14px;
  height: 16px;
  padding: 0 5px;
  margin: auto;
  line-height: 1;
}

/* line 229, ../_sass/main.scss */
.basic-alignment.left {
  float: left;
  margin-right: 1.5em;
}
/* line 230, ../_sass/main.scss */
.basic-alignment.right {
  float: right;
  margin-left: 1.5em;
}
/* line 231, ../_sass/main.scss */
.basic-alignment.center {
  display: block;
  margin: 0 auto 1.5em;
}
/* line 232, ../_sass/main.scss */
.basic-alignment.left, .basic-alignment.right {
  margin-bottom: .8em;
}

/* line 235, ../_sass/main.scss */
.grey-long-straight {
  font-size: 14px;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 40px;
  background: #f6f6f6;
  border-bottom: 1px, solid #000;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(top, #f9f9f9, #f3f3f3);
  background: -moz-linear-gradient(top, #f9f9f9, #f3f3f3);
  background: -o-linear-gradient(top, #f9f9f9, #f3f3f3);
  background: linear-gradient(to bottom, #f9f9f9, #f3f3f3);
}
/* line 249, ../_sass/main.scss */
.grey-long-straight li {
  display: inline;
}
/* line 253, ../_sass/main.scss */
.grey-long-straight a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  font-weight: bold;
  line-height: 40px;
  text-shadow: 0 1px 1px rgba(236, 236, 236, 0.9);
}
/* line 261, ../_sass/main.scss */
.grey-long-straight a:hover {
  color: #4183c4;
  text-decoration: none;
}
/* line 271, ../_sass/main.scss */
.grey-long-straight .search {
  float: right;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  width: 100px;
  height: 16px;
  margin: -31px 0 0 15px;
  padding: 3px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: #f4f4f4;
  -webkit-box-shadow: 1px, 1px 2px rgba(0, 0, 0, 0.3) insert;
  -moz-box-shadow: 1px, 1px 2px rgba(0, 0, 0, 0.3) insert;
  box-shadow: 1px, 1px 2px rgba(0, 0, 0, 0.3) insert;
  color: #666;
  line-height: 1;
}
/* line 287, ../_sass/main.scss */
.grey-long-straight .search:hover {
  background-color: #e6f1f6;
}
/* line 290, ../_sass/main.scss */
.grey-long-straight .search:focus {
  background-color: #e6f1f6;
  width: 260px;
  outline: none;
  border-color: rgba(81, 167, 232, 0.75);
  box-shadow: 0 0 8px rgba(81, 167, 232, 0.5);
  -moz-box-shadow: 0 0 8px rgba(81, 167, 232, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(81, 167, 232, 0.3);
}

/* line 308, ../_sass/main.scss */
.my-nickname {
  margin-bottom: 40px;
  padding: 38px 0 50px;
  background-color: #f6f6f6;
  border-bottom: 2px dashed #999999;
  font-size: 88px;
  line-height: 1;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
/* line 319, ../_sass/main.scss */
.my-nickname::before {
  content: '{';
  margin-right: 20px;
}
/* line 323, ../_sass/main.scss */
.my-nickname::after {
  content: '}';
  margin-left: 20px;
}
/* line 328, ../_sass/main.scss */
.my-nickname em {
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  -webkit-animation: Open 1.5s ease-out forwards, Show 3.5s forwards;
  -moz-animation: Open 1.5s ease-out forwards, Show 3.5s forwards;
}

/* line 338, ../_sass/main.scss */
.MathJax_Display {
  text-align: left !important;
}

@media screen and (max-device-width: 1024px) {
  /* line 344, ../_sass/main.scss */
  .my-nickname em {
    -webkit-animation: none, none;
  }
}
@-webkit-keyframes Open {
  /* line 350, ../_sass/main.scss */
  0%, 66% {
    width: 0;
  }

  /* line 353, ../_sass/main.scss */
  100% {
    width: 400px;
  }
}

@-moz-keyframes Open {
  /* line 358, ../_sass/main.scss */
  0%, 66% {
    width: 0;
  }

  /* line 361, ../_sass/main.scss */
  100% {
    width: 400px;
  }
}

@-webkit-keyframes Show {
  /* line 367, ../_sass/main.scss */
  0%, 40% {
    opacity: 0;
  }

  /* line 370, ../_sass/main.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes Show {
  /* line 375, ../_sass/main.scss */
  0%, 40% {
    opacity: 0;
  }

  /* line 378, ../_sass/main.scss */
  100% {
    opacity: 1;
  }
}
